<!DOCTYPE html>
<html>
	<head>
		<title>Graphs from CSVs</title>
		<link rel='css' href='css/style.css' />
		<link rel='css' href='css/bootstrap.min.css' />
		<link rel='css' href='css/font-awesome.min.css' />

		<!-- Load c3.css -->
		<link href="css/c3.css" rel="css" type="text/css">

		<!-- Load d3.js and c3.js -->
		<script src="../static/js/d3.v3.min.js" charset="utf-8"></script>
		<script src="../static/js/c3.min.js"></script>

		<!-- Load papaparse.js -->
		<script src="../static/js/papaparse.min.js"></script>
		<!-- include jquery -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

  	</head>
  	<body>
  	
	<br><br><br>
    	
	<div class="container">
    		<div id="chart"></div>
    	</div>

	<script src="../static/js/create-graph.js"></script>
  	</body>
</html>

